[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/icaven/glm
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/TURIING/glew
[submodule "external/OpenGL"]
	path = external/OpenGL
	url = https://github.com/KhronosGroup/OpenGL-Registry
[submodule "external/EGL"]
	path = external/EGL
	url = https://github.com/KhronosGroup/EGL-Registry
